.tickets {
  font-size: 1rem;
}
.header {
  padding-top: 24px;
  text-align: center;
  font-size: 1.125rem;
}
.tabs {
  margin-top: 6px;
}
.link {
  color: #333;
}
.link:hover {
  text-decoration: underline;
}
.table {
  padding-bottom: 24px;
}
